@blackcolor: #000;
@whitecolor: #fff;
@bluecolor: #002873;
@orangecolor: #ff590a;
@greycolor1: #9d9d9d;
@greycolor2: #d9d8d8;
@greycolor3: #535353;

//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//mixins
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}
.dib {
	display: inline-block;
}
.db {
	display: block;
}
.cb {
	.db;
	margin-left: auto;
	margin-right: auto;
}
.grey1 {
	color: @greycolor1;
}
.grey2 {
	color: @greycolor2;
}
//
@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
}
@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.otf') format('opentype');
}
@font-face {
	font-family: 'HelveticaNeueCyr-Bold';
	src: url('../fonts/HelveticaNeueCyr-Bold.otf') format('opentype');
}
body {
	color: @blackcolor;
	background: @whitecolor;
	font-family: 'HelveticaNeueCyr-Roman';
	text-rendering: optimizeLegibility;
 	 font-feature-settings: "kern";
 	 -webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
#wrapper {
	width: 1000px;
	.cb;
	margin-top: 20px;
	margin-bottom: 60px;
}
.divider-dashed {
	width: 80%;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 2px dashed @greycolor2;
}
header {

	#logo, #header-inner {
		.dib;
		vertical-align: top;
		margin-right: -4px;
	}
	#logo {
		width: 205px;

		a img {
			width: 205px;
			height: auto;
		}
	}
	#header-inner {
		width: 795px;

		#headermenu-top {
			float: left;
			margin-top: 10px;
			margin-left: 40px;

			ul {

				li {
					.dib;
					margin-right: 20px;
				}
				li:last-child {
					margin-right: 0;
				}
				li a {
					font-family: 'HelveticaNeueCyr-Roman';
					color: @blackcolor;
					font-size: 14px;
				}

				li a:hover {
					color: @bluecolor;
				}
			}
		}
		#phones {
			float: right;

			p {
				font-size: 17px;
				font-family: 'HelveticaNeueCyr-Roman';

				span {
					color: @greycolor1;
				}
				span:after {}
			}
		}
		#headermenu-bottom {
			margin-top: 30px;
			margin-left: 40px;

			ul {

				li {
					.dib;
					margin-right: 20px;
				}
				li:last-child {
					margin-right: 0;
				}
				li a {
					font-family: 'HelveticaNeueCyr-Bold';
					.dib;
					padding-bottom: 10px;
					color: @bluecolor;
					font-size: 14px;
					border-bottom: 3px solid transparent;
				}

				li a:hover {
					border-bottom: 3px solid @orangecolor;
				}
			}
		}
	}
}
#content {
	.banner-top {
		margin-bottom: 35px;

		img {
			width: 1000px;
			height: auto;
		}
	}
	#leftcol, #rightcol {
		.dib;
		vertical-align: top;
		margin-right: -4px;
	}
	#leftcol {
		width: 220px;

		.textblock1, .textblock2 {
			p {
				font-size: 14px;
				padding-right: 10px;
				line-height: 18px;
				.tl;
			}
		}
		.textblock2 {
			p {
				font-style: italic;
				color: @greycolor1;
			}
		}
		.banner-left {
			margin-top: 190px;

			h2 {
				font-size: 24px;
				margin-bottom: 10px;
				margin-right: 10px;

				span {
					font-family: 'HelveticaNeueCyr-Bold';
					color: @bluecolor;
				}
			}
			img {
				width: 200px;
				height: auto;
			}
		}
	}
	#rightcol {
		width: 780px;

		#rightmenu {
			margin-left: 30px;
			border-radius: 4px;
			width: 750px;

			.row {
				height: 370px;

				p {
					position: absolute;
				}
			}
			.top {
				height: 370px;
				margin-bottom: 10px;


				.left, .right, .center {
					height: 370px;
				}
				.left {

					img {
						width: 360px;
						height: 370px;
					}
					p {
						top: 55px;
						left: 40px;
						font-size: 36px;
						color: @whitecolor;
					}
				}
				.center, .right {
					
					img {
						width: 185px;
						height: 370px;
					}
					p {
						top: 10px;
						left: 10px;
						font-size: 24px;
						color: @whitecolor;
					}
				}
			}
			.bottom {
				height: 185px;

				.left, .right, .center {
					height: 185px;
				}
				.left, .right {

					img {
						width: 185px;
						height: 185px;
					}
					p {
						top: 20px;
						left: 10px;
						font-size: 24px;
						color: @whitecolor;
					}

				}
				.center  {
					
					img {
						width: 360px;
						height: 185px;
					}
					p {
						top: 20px;
						left: 65px;
						font-size: 24px;
						color: @whitecolor;
					}
				}
			}
			.left, .center {
				margin-right: 6px;
			}
			.left, .right, .center {
				.dib;
				position: relative;
				vertical-align: top;
				background: @greycolor2;
			}
		}
		#news {
			margin-top: 35px;
			margin-left: 30px;

			h2 {
				font-size: 16px;
				margin-bottom: 20px;
				color: @blackcolor;
			}
			.news-block {
				.dib;
				width: 220px;
				margin-right: 40px;
				vertical-align: top;

				.date, .content {
					font-size: 12px;
					color: @greycolor3;
					font-family: 'HelveticaNeueCyr-Light';
				}
				a .title {
					color: @bluecolor;
					font-family: 'HelveticaNeueCyr-Roman';
					font-size: 14px;
					margin-top: 5px;
					margin-bottom: 5px;
				}
				a:hover .title {
					color: #ff5200;
				}
				.content {
					margin-right: 30px;
					line-height: 14px;
				}
			}
			.news-block:last-child {
				margin-right: 0;
			}
		}
	}
}
#bottommenu {
	margin-top: 45px;
	margin-bottom: 45px;

	a {
		.db;
		width: 130px;
		height: 130px;
		margin-left: 40px;
		margin-right: 40px;
	}
	.link-wrap {
		.dib;
		margin-right: -4px;
		vertical-align: top;
		width: 200px;
		height: 130px;
	}
	.mb-1 {background: url('../img/mb-1.png') no-repeat center center;}
	.mb-2 {background: url('../img/mb-2.png') no-repeat center center;}
	.mb-3 {background: url('../img/mb-3.png') no-repeat center center;}
	.mb-4 {background: url('../img/mb-4.png') no-repeat center center;}
	.mb-5 {background: url('../img/mb-5.png') no-repeat center center;}
	.mb-1:hover {background: url('../img/mb-1h.png') no-repeat center center;}
	.mb-2:hover {background: url('../img/mb-2h.png') no-repeat center center;}
	.mb-3:hover {background: url('../img/mb-3h.png') no-repeat center center;}
	.mb-4:hover {background: url('../img/mb-4h.png') no-repeat center center;}
	.mb-5:hover {background: url('../img/mb-5h.png') no-repeat center center;}
}
footer {
	width: 100%;
	background: #eee;
	padding-bottom: 60px;

	#footer-inner {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;

		#footer-leftcol, #footer-centercol, #footer-rightcol {
			.dib;
			margin-right: -4px;
			vertical-align: top;
		}
		#footer-leftcol {
			width: 220px;

			#footer-logo {
				margin-top: 20px;
				margin-bottom: 20px;

				img {
					width: 220px;
					height: auto;
				}
			}
			#copyr {
				p {
					font-size: 14px;
					color: @greycolor3;
					margin-bottom: 5px;
				}
			}
			#footer-links {
				margin-top: 10px;

				a {
					.dib;
					margin-right: 20px;
					color: @bluecolor;
					text-decoration: underline;
					font-size: 14px;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
		#footer-centercol {
			width: 550px;

			#footermenu {
				margin-left: 30px;
				margin-top: 25px;

				ul {

					li {
						margin-right: 20px;
						.dib;
					}
					li:last-child {
						margin-right: 0;
					}
					li a {
						.dib;
						padding-bottom: 5px;
						color: @greycolor3;
						font-size: 16px;
						border-bottom: 3px solid @whitecolor;
					}

					li a:hover {
						border-bottom: 3px solid @orangecolor;
					}
				}
			}
			.addr, .cont {
				margin-top: 20px;
				.dib;
				vertical-align: top;
				color: @greycolor3;
			}
			.addr {
				margin-left: 30px;
				margin-right: 85px;

				p {
					font-size: 16px;
					margin-bottom: 10px;
				}
				.email {
					color: @orangecolor;
				}
			}
			.cont {
				margin-right: 55px;

				p {
					margin-bottom: 10px;
				}
			}
		}
		#footer-rightcol {
			width: 230px;

			#social {
				margin-bottom: 25px;
				margin-top: 30px;

				a {
					.dib;
					margin-right: 10px;
					vertical-align: top;
					height: 20px;
				}
				.fb {background: url('../img/fb.png') no-repeat; width: 12px;}
				.tw {background: url('../img/tw.png') no-repeat; width: 28px;}
				.rss {background: url('../img/rss.png') no-repeat; width: 20px;}
			}
		}
	}
}
/*catalog------------------------------*/
#leftmenu {
	h1 {
		font-size: 24px;
		font-family: 'HelveticaNeueCyr-Light';
		margin-bottom: 20px;
	}
	.menu {

		li {
			margin-bottom: 10px;
		}
		li a {
			font-size: 16px;
			color: #202020;
		}
		li a.current {
			font-family: 'HelveticaNeueCyr-Bold';
		}
		li a:hover {
			color: @bluecolor;
		}
		.submenu {
			border-left: 2px solid #ffc5aa;
			margin-top: 10px;
			margin-bottom: 10px;

			li {
				margin-bottom: 15px;
			}
			li a {
				.db;
				font-size: 14px;
				padding-left: 5px;
				color: @greycolor3;
			}
			li a:hover {
				color: @blackcolor;
			}
		}
	}
}
#catalog {
	h1 {
		font-size: 24px;
		font-family: 'HelveticaNeueCyr-Roman';
		margin-left: 25px;
		margin-bottom: 15px;
		color: @blackcolor;
	}
	#catalog-table {
		margin-left: 25px;

		table {
			.dib;
			vertical-align: top;
			margin-right: 25px;
			width: 360px;
			font-family: 'HelveticaNeueCyr-Light';
		}
		table:last-child {
			margin-right: 0;
		}
		td {
			padding: 10px 0 10px 10px;
		}
		thead {

			td {
				background: #345696;
				font-size: 15px;
				color: @whitecolor;
			}
			td:first-child {
				width: 220px;
				border-right: 1px solid #fff;
			}
			td:last-child {
				width: 135px;
			}
		}
		tbody {

			td {
				font-size: 13px;

				a {
					color: @blackcolor;
					text-decoration: underline;
				}

				a:hover {
					text-decoration: none;
				}
			}

			td:first-child {
				width: 220px;
			}
			td:last-child {
				width: 135px;
			}
			tr:nth-child(odd) {
				background: @whitecolor;
			}
			tr:nth-child(even) {
				background: #dee5f3;
			}
		}
	}
}
/*news------------------------------*/
#news-page {
	margin-left: 25px;

	h1 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.news-image {
		width: 750px;
		height: auto;
		border-radius: 5px;
	}
	.news-content {
		margin-top: 10px;
		
		p {
			font-size: 14px;
		}
	}
}
/*news-all------------------------------*/
#news-all, #photos-all {
	margin-left: 25px;

	h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	h1:before {
		content: url('../img/iconnews.png');
		padding-right: 5px;
	}
	.news-oneblock, .photo-oneblock {
		margin-bottom: 20px;

		.news-wrap, .photo-wrap {
			float: right;
			width: 635px;

			.news-text, .photo-text {
				margin-top: 15px;
				margin-bottom: 5px;
				font-size: 14px;
				margin-left: 10px;
			}
			.more {
				font-size: 12px;
				padding-left: 10px;
				color: @bluecolor;
			}
			.title {
				padding-left: 10px;
				font-size: 14px;
				color: @bluecolor;
			}
			a:hover {
				color: @orangecolor;
			}
		}

		img {
			width: 120px;
			height: auto;
			float: left;
		}
	}
	#pagination {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;

		ul {

			li {
				.dib;
				margin-right: 5px;
			}
			li:last-child {
				margin-right: 0;
			}
			li a {
				color: @blackcolor;
				font-size: 14px;
			}
			li a:hover {
				color: @orangecolor;
			}
			li a.current {
				color: @bluecolor;
			}
		}
	}
}
 #photos-all {

 	h1:before {
		content: url('../img/iconphotos.png');
		padding-left: 5px;
 	}
 	.photo-oneblock {

 		.photo-wrap {
 			width: 600px;
 		}

		img {
			width: 155px;
			height: auto;
			float: left;
		}
	}
 }
 /*product------------------------------*/
 #product {
 	margin-left: 25px;

 	h2 {
 		font-size: 24px;
 		margin-bottom: 25px;
 	}
 	.product-img, .product-desc {
 		.dib;
 		vertical-align: top;
 		margin-right: -4px;
 		width: 360px;

 	}
 	.product-img {
 		margin-right: 25px;

 		img {
 			width: 360px;
 			height: auto;
 		}
 	}
 	table {
		font-family: 'HelveticaNeueCyr-Light';
		width: 360px;
		font-size: 15px;
	}
	td {
		padding: 10px 0 10px 10px;
	}
	thead {

		td {
			width: 360px;
		}

		tr:first-child td {
			background: #345696;
			color: @whitecolor;
		}
		tr:last-child td {
			font-size: 18px;
			padding-left: 15px;
		}
	}
	tbody {

		tr {

			td:first-child {
				font-family: 'HelveticaNeueCyr-Roman';
				width: 100px;
				border-right: 1px solid #fff;
			}
			td:last-child {
				width: 255px;
				font-size: 13px;
			}
		}
		tr:nth-child(even) {
			background: @whitecolor;
		}
		tr:nth-child(odd) {
			background: #dee5f3;
		}
	}
	.similar {
		margin-top: 15px;

		.similar-one {
			.dib;
			vertical-align: top;
			margin-right: 25px;
			margin-bottom: 20px;
			width: 165px;
			height: 215px;
			background: #f3f5fa;
			overflow: hidden;

			&:nth-child(4n) {
				margin-right: 0;
			}
			.number {
				margin-left: 5px;
				font-family: 'HelveticaNeueCyr-Bold';
				font-size: 12px;
				margin-bottom: 5px;
			}
			.name {
				margin-bottom: 10px;

				a {
					margin-left: 5px;
					color: @blackcolor;
					font-size: 14px;
					font-family: 'HelveticaNeueCyr-Light';
				}
				a:hover {
					color: @orangecolor;
				}
			}
			img {
				width: 165px;
				height: 120px;
			}
			.desc {
				margin: 5px 0 5px 5px;
				font-size: 14px;
				color: #636363;
			}
		}
	}
 }
 /*photos------------------------------*/
 #photos-gallery {
 	margin-left: 25px;

 	h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
 }